body {
    font-family: 'Overpass', sans-serif;
    font-size: 18px;
    color: rgb(80,80,80);
    background-color: rgb(230, 230, 230);
}

h1, h2 {
    font-family: 'Chivo', sans-serif;
}

a {
    color: #0D2EC6;
    text-decoration:none;
    font-weight: bold;
}

a:hover {
    background-color: #2a43af;
    transition: 0.3s;
}

.btn-blue {
    color: white;
    background-color: #0D2EC6;
    padding: 16px 48px;
    border-radius: 2px;
}

.banner {
    background-image: url("img/background.png");
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    padding: 150px 0;
    }

.banner h1 {
    font-size: 45px;
}

.banner p {
    font-size: 24px;
    margin-bottom: 40px;
}

.container {
    width:800px;
    margin-left: 25%;
}

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
}


.card-white {
    background-color: white;
    box-shadow: 1px 1px 1px rgb(0, 0, 0, 0.1);
    padding: 24px;
    margin: 8px;
    width: 230px;
}

.card-white img {
    width: 230px;
    height: 200px;
    object-fit: contain;
    border-radius: 4px;
}

.footer {
    background-color: #404042;
    color: white;
    padding: 10px;
    text-align: center;
    margin-top: 30px;
}

.footer p {
    font-size: 30px;
}
 
.pulse {
    font-size: 5vw;
    animation: pulse 1s linear infinite;
  }

@keyframes pulse {
    0% {
      transform: scale(1.1);
    }
  
    50% {
      transform: scale(0.8);
    }
  
    100% {
      transform: scale(1);
    }
  }
